fastapi==0.136.1 #web framework
uvicorn==0.46.0 #server
sqlalchemy==2.0.49 #database orm
psycopg[binary]==3.3.4 #postgres driver, used by alchemy
alembic==1.18.4 #database migrations
pyjwt==2.12.1
minio==7.2.20
python-multipart==0.0.28
structlog==25.5.0
prometheus-fastapi-instrumentator==8.0.0